/* Sidebar Styles */
.sidebar {
    background-color: var(--color-white);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    z-index: 100;

    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    transition: .3s ease;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 1.5rem 1.5rem;
    border-bottom: 1px solid var(--color-light-gray);
    margin-bottom: 1.5rem;
    gap: 15px;
}

.logo-icon {
    background-color: var(--color-blue);
    color: var(--color-white);
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 12px; */
    font-weight: bold;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-blue);
}

.nav-links {
    flex: 1;
}

.user-profile {
    padding: 1.5rem;
    border-top: 1px solid var(--color-light-gray);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
}

.user-avatar,
.logout-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-light-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    color: var(--color-blue);
    font-weight: 600;
}

i.user-avatar {
    font-size: 20px;
    cursor: pointer;
}

.user-info h4 {
    font-size: 0.9rem;
    margin-bottom: 2px;
}

.user-info p {
    font-size: 0.8rem;
    color: var(--color-medium-gray);
}

i.open-sidebar {
    display: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--color-blue);
}

/* Rsponsive */
@media (max-width: 800px) {
    .sidebar {
        position: fixed;
    }


    .sidebar.closed .logo-text,
    .sidebar.closed .logo-icon {
        display: none;
    }

    i.open-sidebar {
        display: block;
    }

    .sidebar.closed .logo {
        justify-content: center;
        padding: 0 1rem 1.5rem;
    }

    .sidebar.closed .logo-icon {
        width: 30px;
        height: 30px;
        margin: 0;
    }

    .sidebar.closed .user-profile {
        padding: .9rem .5rem;
    }

    .sidebar.closed .user-avatar {
        margin: 0;
    }

    .sidebar.closed .user-info,
    .sidebar.closed .logout-icon {
        display: none;
    }

}