.critical-card .card-header {
    display: flex;
    align-items: end;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-light-gray);
    padding-bottom: 0.5rem;
}

.critical-card .card-title {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-dark-gray);
}

.critical-card .icon {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    margin-right: 10px;
    color: var(--color-blue);
    font-size: 24px;
}

.med-item,
.allergy-item,
.contact-item {
    padding: 0.8rem 0;
    border-bottom: 1px solid var(--color-light-gray);
    display: flex;
    align-items: center;
    gap: 12px;
}

.allergy-item,
.contact-item {
    justify-content: space-between;
}

.med-item:last-child,
.allergy-item:last-child,
.contact-item:last-child {
    border-bottom: none;
}