.btn {
    width: 100%;
    background: var(--color-blue);
    color: var(--color-white);
    padding: 14px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s ease;
}

.btn-primary {
    background: var(--color-blue);
}

.btn-primary:hover {
    background: #163f76;
}