/* .btn {
    width: 100%;
    background: var(--color-blue);
    padding: 14px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
} */

.btn {
    padding: 14px;
    font-size: 12px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.btn-primary {
    background: var(--color-blue);
    color: var(--color-white);
}

.btn-primary:hover {
    background: #163f76;
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
}

.btn-secondary:hover {
    background-color: var(--color-light-blue);
}