.contact-item {
    padding: 1rem;
}

.contact-name {
    font-size: 15px;
    color: var(--color-dark-gray);
}

.contact-status {
    color: var(--color-medium-gray);
    font-size: 0.8rem;
}

.contact-icon {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    color: var(--color-green);
    font-size: 18px;
    cursor: pointer;
}